#profile{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: no-repeat url('./liyue-main.png');
    background-position: 50% 45%;
    background-size: cover;
}
#profile .image-container{
    position: absolute;
}
.image-container{
    width: 100%;
    height: auto;
}
.image-container img{
    max-width: 100%;
    height: 100vh;
    display: block;
    /* margin: 0 auto; */
}

    
@media (max-width: 767.98px) { 
    
    .image-container img{
        display: none;
    }
    
}
