#description{
    width: 30%;
    position: absolute;
    right: 5vw;
}

#description h2{
    font-size: 3rem;
    margin: 0;
}
#description h3{
    font-size: 1.5rem;
    font: var(--font-text);
}
#description p{
    font-size: 1rem;
    line-height: 32px;
}

#description *{
    text-align: center;
}