.materials-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}
.materials-list li{
    width: 20%;
    height: auto;
    display: block;
    overflow: hidden;
}