.materials-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 30vh;
    overflow: hidden;
    
}

.materials-list li{
    width: 15%;
    height: auto;
    display: block;
    overflow: hidden;
}