.character-menu{
    list-style: none;
    height: 60vh;
    overflow: scroll;
    width: 80%;
    margin: 0 auto;
}

.character-menu li{
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin: 1rem;
}