.character-menu{
    list-style: none;
    height: 60vh;
    overflow: scroll;
    margin: 12px 42px;
}


.character-menu figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}

.character-menu figcaption{
    font-size: 24px;
    transition: font-size .5s;
    transition: color .5s;
    text-transform: uppercase;
    margin: 0 6px;
}
.character-menu figcaption:hover{
    cursor: pointer;
    color: gold;
}

@media (max-width: 767.98px) { 
    .character-menu{
        margin: 12px 20px;
    }
}