.nation-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nation-menu figure{
    padding: 0; 
    margin: 0 12px;
}
.nation-menu figure:hover{
    cursor: pointer;
}

.nation-menu figcaption{
    font-size: 12px;
    padding: 5px;
    text-align: center;
    transition: font-size .5s;
    transition: color .5s;
}
.nation-menu figcaption:hover{
    font-size: 12.5px;
    cursor: pointer;
    color: gold;
}

.nation-menu img{
    width: 80px;
    height: auto;
    margin: 0 auto;
}




