
.material-container{
    margin: 0 12px;
    overflow: hidden;
}

.material-container img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.material-container figcaption{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}