.material-container{
    width: 15%;
    height: auto;
    overflow: hidden;
    margin: 0 .5rem;
    
}
.material-container img{
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.material-container figcaption{
    width: 80%;
    font-size: .7rem;
    margin: 0 auto;
    text-align: center;
}