@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Yeseva+One&display=swap');

:root{
    --liyue-primary: brown;
    --font-title: 'Yeseva One', cursive;
    --font-text: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Yeseva One', cursive;
    color: #FFFFFF;
}
p, figcaption, li, div{
    font-family: 'Merriweather', serif;
    color: #FFFFFF;
}

body{
    background-color: #0F0F0F;
}

