.talents-ascend{
    background: no-repeat url('./liyue-materials.png');
    background-position: 20% 20%;
    background-size: cover;
    position: relative;
}

.talents-ascend h2{
    margin: 0;
}
.talents-ascend #normal-boss{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.talents-ascend #weekly-boss{
    position: absolute;
    left: 0;
    top: 0;
}
.talents-ascend #normal-boss, .talents-ascend #weekly-boss{
    height: 60vh;
    width: auto;
}

.display-menu{
    width: 50%;
    height: 100vh;
    margin-left: auto;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(25, 25, 25, 0.9);
    box-shadow: 0px 4px 50px 25px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) { 
    .talents-ascend #normal-boss, .talents-ascend #weekly-boss{
        display: none;
    }
    .display-menu{
        width: 90%;
        margin: 0 auto;
    }
}